:root .theme_light {
  --accent-color: var(--accent-color-light);
  --main-color: var(--main-color-light);
  --logo-color: var(--logo-color-light);
  --article-color: var(--article-color-light);
  --text-shadow: var(--accent-color-light);
  --design-color: var(--article-color-light);
  --article-title-color: var(--article-color-light);
  --visibility: hidden;
  --page-background-color: var(--main-color-light);
  --page-background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: var(--accent-color-light);
    --main-color: var(--main-color-light);
    --logo-color: var(--logo-color-light);
    --article-color: var(--article-color-light);
    --text-shadow: var(--accent-color-light);
    --design-color: var(--accent-color-light);
    --article-title-color: var(--main-color-light);
    --visibility: hidden;
    --page-background-color: var(--main-color-light);
    --page-background-image: url(../images/cover-image-light.png);
  }
}