:root {
  --accent-color: #ff0080;
  --main-color: #000028;
  --logo-color: #db00ff;
  --article-color: #f1b2ce;
}

@media (min-width: 768px) {
  .page {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .decorative {
    margin-block-start: 11px;
    margin-inline-end: 9px;
  }

  .header__theme-menu-item:first-child {
    margin-block-start: 148px;
  }

  .header__theme-menu-list {
    margin-inline-end: 11px;
  }

  .header__title {
    margin-block-start: 172px;
    margin-inline-start: -10px;
  }

  .header__paragraph-content {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 141px;
    margin-block-end: 412px;
    margin-inline-end: 10px;
  }

  .header__paragraph {
    width: 364px;
  }

  .design-bottom {
    margin-inline-start: 11px;
  }

  .article__columns {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  .article__title-columns {
    width: 50%;
    height: 100%;
    margin-inline-start: 11px;
    margin-inline-end: -9px;
    padding-block-start: 10px;
  }

  .title_and_article {
    width: 100%;
    margin-inline-start: 29px;
    margin-inline-end: 10px;
  }

  .article__rows {
    display: flex;
    flex-direction: column; 
  }

  .article__title-grid {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    margin-block-start: 29px;
    margin-inline-start: 10px;
  }

  .article__columns-desktop {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .article-indent {
    margin-block-start: -19px;
  }

  .article_paragraph-indent_lower {
    margin-block-end: 58px;
  }

  .article_images {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .image {
    object-fit: cover;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    grid-auto-flow: dense;
    align-items: stretch;
    grid-template-areas: 
    "figure_sunset figure_sunset figure_ice-cream"
    "figure_tape   figure_books  figure_ice-cream"
    "figure_tape   figure_street figure_street"
    "figure_tape   figure_street figure_street";
    margin-block-start: 10px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .figure_sunset {
    grid-area: figure_sunset;
  }

  .figure_ice-cream {
    grid-area: figure_ice-cream;
  }

  .figure_tape {
    grid-area: figure_tape;
  }

  .figure_books {
    grid-area: figure_books;
  }

  .figure_street {
    grid-area: figure_street;
  }

  .design-footer {
    margin-inline-start: 94vw;
    margin-block-start: 76px;
  }

  .footer {
    margin-block-end: 0px;
  }

  .footer__logo {
    margin-block-start: 134px;
  }

  .design-footer-bottom {
    margin-block-start: 13vh;
    margin-block-end: 0px;
    margin-inline-start: 3vw;
  }
}

@media (min-width: 1024px) {
  .page {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .decorative {
    margin-inline-end: 10px;
    margin-block-start: 8px;
  }

  .decorative__nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: space-between;
    margin-inline-start: 38vw;
  }

  .header__theme-menu-item:first-child {
    margin-block-start: 0px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block-start: 209px;
  }

  .header__paragraph-content {
    margin-block-start: 94px;
    margin-block-end: 10px;
    margin-inline-end: 100px;
  }

  .header__paragraph {
    width: 491px;
  }

  .header__theme-menu 
  .header__theme-menu-list {
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    gap: 10px;
    margin-block-start: 0px;
  }

  .design-bottom {
    margin-block-start: -10vh;
  }

  .title-decor {
    margin-inline-start: -7px;
  }

  .article_paragraph {
    margin-inline-start: -7px;
  }

  .title-decor_after {
    margin-inline-start: -7px;
  }

  .title-decor_images {
    margin-inline-start: 10px;
  }

  .article__title-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .paragraph__columns {
    display: flex;
    gap: 28px;
    margin-inline-start: 17px;
  }

  .article_desktop {
    width: 100%;
  }

  .design-footer {
    margin-block-start: 96vw;
    margin-inline-start: 75px;
  }

  .footer__logo {
    font-size: clamp(1.125rem, -3.8947rem + 21.4176vw, 9.8125rem);
    margin-block-start: 8px;
  }

  .design-footer-bottom {
    margin-block-start: 1vh;
    margin-inline-start: 2vw;
  }
}